/* src/app/components/checkout/checkout.css */
.checkout-container {
  border: 1px solid #BF7069;
  padding: 25px;
  border-radius: 12px;
  background-color: #F2F2F2; 
  box-shadow: 0 4px 15px rgba(0,0,0,0.05); /* Somba muy suave */
}

h3 {
  margin-top: 0;
  color: #333;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.total {
  font-size: 1.4rem;
  font-weight: bold;
  color: #BF6B04;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.btn-confirm {
  width: 100%;
  background-color: #F29F05;
  color: white;
  border: 1px solid #F29F05;;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.2s;
}

.btn-confirm:hover {
  background-color: white;
  color: #F29F05;
  border: 1px solid #F29F05;
}